.DocSearch-Container {
  /* Display above the sidebar */
  --sidebar-z-index: 1020;
  z-index: calc(var(--sidebar-z-index) + 1);
}

.theme-dark {
  --docsearch-text-color: rgba(255, 255, 255, 0.8);
  --docsearch-muted-color: rgba(255, 255, 255, 0.6);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: #1b1238;
  /* Search box */
  --docsearch-searchbox-background: #1b1238;
  --docsearch-searchbox-focus-background: #1b1238;
  /* Hit */
  --docsearch-hit-color: rgba(255, 255, 255, 0.8);
  --docsearch-hit-active-color: rgba(255, 255, 255, 1);
  --docsearch-hit-background: #120c24;
  /* Footer */
  --docsearch-footer-background: #120c24;
  --docsearch-key-gradient: linear-gradient(-26.5deg, #1b1238 0%, #120c24 100%);
}

/* override algolia search default styles to prevent overflow on mobile devices */

@media (max-width: 991px) {
  #algolia-autocomplete-listbox-0 {
    width: auto;
    min-width: 0;
  }
}
